// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron {
  background-image: image-url("background.jpg");
  background-size: cover;
  height: 30vw;
  background-position: 25%;
  text-align: center;

  .navbar-text {
    color: silver;
    font-size: 20px;
  }

  h1{
    color: silver;
  }
  h4{
    color: silver;
  }
}

#footer{
  margin-top: 500px;
}
